---
---

@charset "utf-8";

//	Reset basic elements

* {
	box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* 
 *	Variables 
 */

//	Typography

$font-stack: acumin-pro, Arial, sans-serif; 
$primary-font-size: 16px; 
$primary-font-weight: 300;
$primary-letter-spacing: 0.05em;
$small-font-size: $primary-font-size * .875; 
$base-line-height: 1.625; 

//	Colors

$black: #222222;
$grey-dark: #444444;
$grey-lightest: #f0f0f0; 
$grey-light: #cccccc; 
$white: #ffffff;
$yellow: #ffe000;

//	Classes

.bg-black { background-color: $black; }
.bg-grey-dark { background-color: $grey-dark; }
.bg-white { background-color: $white; }
.bg-grey-lightest { background-color: $grey-lightest; }
.bg-grey-light { background-color: $grey-light; }
.text-white { color: $white; }
.text-small { font-size: $small-font-size; }
.centered {
	margin-left: auto; 
	margin-right: auto;
}
.glow {
	filter: drop-shadow(0px 0px 30px rgba(255,255,255,.85));
}
.size-sm {
	width: 100px; 
}
.ml-neg-2 {
	margin-left: -20px; 
}
.ml-neg-3 {
    margin-left: -30px; 
}
.py-1 {
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* 
**	Styles
*/

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

p a,
ol a,
ul a {
	border-bottom: 1px solid $white; 
	color: inherit; 
  text-decoration: none; 

	&:hover {
		border-bottom-color: $yellow; 
	}
}

body {
	font: $primary-font-weight #{$primary-font-size}/#{$base-line-height} $font-stack;
	letter-spacing: $primary-letter-spacing; 
}

p:not(:last-child) {
    margin-bottom: .875rem; 
}

// 	Clearfix
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*	Import stuff */

@import "responsive-grid.scss";
