---
---

@charset "utf-8";

//  Element-level styles

img {
    width: 100%;
}

//	Classes

.glow {
    filter: drop-shadow(0px 0px 30px rgba(255,255,255,.85));
}

.size-sm {
    width: 100px;
}

//  Import stuff

@import "colors.scss";
@import "layouts.scss";
@import "responsive-grid.scss";
@import "typography.scss"
