---
title: Site archive
---

<!--
<h2>Featured stuff</h2>

 <ul>
    {% for post in site.posts %}
        {% if post.tags contains 'featured' %}
            <li><a href="{{ post.url }}">{{ post.title }}</a>{% if post.tags contains 'ongoing' %} <span class="badge">ongoing</span>{% endif %}</li>
        {% endif %}
    {% endfor %}
</ul>
 -->

<h3>Categories</h3>
<p>Broad topics that I cover in my content. Categories span altitudes and don't have to be mutually exclusive; for example, a post that I use as part of my portfolio could be considered a <code>project</code> that is <code>featured</code>.</p>
<ul>
{% for category in site.categories %}
  <li>{{ category[0] }} ({{ category[1].size }})</li>
{% endfor %}
</ul>

<h3>Tags</h3>
<p>Tags are basically like ... I dunno, if I could only to search through posts using tags (and not the content of the post) what would I want to make sure is captured?</p>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless
forloop.last %},{% endunless %}{% endfor %}{% endcapture %} {% assign tags_list
= site_tags | split:',' | sort_natural %}

<ul>
    {% for item in (0..site.tags.size) %}{% unless forloop.last %} {% capture
    this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
    <li>{{ this_word }} ({{ site.tags[this_word].size }})</li>
    {% endunless %}{% endfor %}
</ul>

<h3>Posts</h3>
<p>
    A list of all of the content I’ve ever put on a personal website, or wanted to put on a personal website. Much of it is old, empty, broken, embarrassing stuff. Sometimes I’ll add stuff, sometimes I might take stuff down :shrug: I do what I want!
</p>

<ul>
    {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>

            {% assign last_updated_epoch = post.last_updated | date: "%s" %}
            {% assign month_ago_epoch = "now" | date: "%s" | minus: 2592000 | date: "%s" %}
            {% assign post_date_string = post.date | date: "%s" %}

<!--             {% if month_ago_epoch < post_date_string %}
                <span class="badge">new</span>
            {% endif %}

            {% if month_ago_epoch < last_updated_epoch %}
                <span class="badge">recently updated</span>
            {% endif %}
 -->
            {% if post.tags contains 'ongoing' %}
                <span class="badge">ongoing</span>
            {% endif %}

        </li>
    {% endfor %}
</ul>