// 404 cat-top styles
// Make it float, align it so
//

#cat-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-top {
  animation-name: cat-top;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#cat-top-shadow {
  animation-name: cat-top-shadow;
  animation-duration: 4s; 
  animation-iteration-count: infinite;
  background-color: #222;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px / 50px;
}

@keyframes cat-top {
  0% { 
    transform: translate(0, 0);
  }
  35% { 
    transform: translate(0, -12px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }
  100% { 
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }
}

@keyframes cat-top-shadow {
  0% {
    filter: blur(10px);
    opacity: .25;
  }
  35% {
    filter: blur(15px);
    opacity: .15;
    transform: scale(1.3);
  }
  100% {
    filter: blur(10px);
    opacity: .25;
  }
}
