#content {

    // Todo: Better spacing between content
    //
    // ol:not(:last-child),
    // p:not(:last-child),
    // ul:not(:last-child) {
    //     margin-bottom: 3rem;
    // }

    // “Big” images
    strong img {
        max-height: 80vh;
        // Todo: How to get images full-width and aligned properly
        // max-width: 100vw !important;
    }

    // Image captions
    img + em {
        color: $grey;
        display: block;
        font-size: 75%;
        font-style: normal;
    }    
}

