//  Reset basic elements

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

//  Grid stuff

$number-of-columns: 12;

@media screen and (min-width: 0px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .col-xs-#{$i} { width: $width;}
    }
}

@media screen and (min-width: 400px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .col-sm-#{$i} { width: $width;}
    }
}

@media screen and (min-width: 800px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .col-md-#{$i} { width: $width;}
    }
}

@media screen and (min-width: 1200px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .col-lg-#{$i} { width: $width;}
    }
}

.grid-960 {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.cols {
    float: none;
    margin-left: -10px;
    margin-right: -10px;
    overflow: auto;
    position: relative;
}

.col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}


//  Flexbox lol

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}


//  Clearfix

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//  Nudgey stuff

$nudge: 6px;

@for $i from 1 through 6 {

    //  Margins

    .m-#{$i} { margin: $nudge * $i;}
    .mx-#{$i} { margin-left: $nudge * $i;margin-right: $nudge * $i;}
    .my-#{$i} { margin-top: $nudge * $i;margin-bottom: $nudge * $i;}
    .ml-#{$i} { margin-left: $nudge * $i;}
    .mr-#{$i} { margin-right: $nudge * $i;}
    .mt-#{$i} { margin-top: $nudge * $i;}
    .mb-#{$i} { margin-bottom: $nudge * $i;}

    //  Negative margins

    .nmx-#{$i} { margin-left: -$nudge * $i;margin-right: -$nudge * $i;}
    .nmy-#{$i} { margin-top: -$nudge * $i;margin-bottom: -$nudge * $i;}
    .nml-#{$i} { margin-left: -$nudge * $i;}
    .nmr-#{$i} { margin-right: -$nudge * $i;}
    .nmt-#{$i} { margin-top: -$nudge * $i;}
    .nmb-#{$i} { margin-bottom: -$nudge * $i;}

    //  Padding

    .p-#{$i} { padding: $nudge * $i;}
    .px-#{$i} { padding-left: $nudge * $i;padding-right: $nudge * $i;}
    .py-#{$i} { padding-top: $nudge * $i;padding-bottom: $nudge * $i;}
    .pl-#{$i} { padding-left: $nudge * $i;}
    .pr-#{$i} { padding-right: $nudge * $i;}
    .pt-#{$i} { padding-top: $nudge * $i;}
    .pb-#{$i} { padding-bottom: $nudge * $i;}
}