//  The grid

.grid-960 {
    max-width: 980px;
    width: 100%; 

    margin-left: auto; 
    margin-right: auto;
    padding-left: 20px; 
    padding-right: 20px; 
}

.cols {
    float: none;
    position: relative;
    overflow: auto;

    margin-left: -10px; 
    margin-right: -10px; 
}

.col {
    float: left;

    padding-left: 10px; 
    padding-right: 10px; 
}

//  Media queries

$number-of-columns: 12; 

@media screen and (min-width: 0px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .xs-col-#{$i} { width: $width; }
    }
}

@media screen and (min-width: 400px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .sm-col-#{$i} { width: $width; }
    }
}

@media screen and (min-width: 800px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .md-col-#{$i} { width: $width; }
    }
}

@media screen and (min-width: 1200px) {
    @for $i from 1 through $number-of-columns {
        $width: ( 1/$number-of-columns * $i * 100%);
        .lg-col-#{$i} { width: $width; }
    }
}