//  Declares the width of the content

@mixin site-content-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;

}

//  Nav styles

.site-nav {
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-nav-content {
    @include site-content-width;
}

//  Main styles

.site-main {
    padding-bottom: 3em;
}

.site-main-content {
    @include site-content-width;
}

//  Footer styles

.site-footer {
    background-color: $grey-lightest;
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-footer-content {
    @include site-content-width;
}

// Anchors footer to the bottom using flexbox

.site-container {
    background-color: $grey-lightest;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    background-color: $white;
    flex: 1;
}