$font-stack: Osaka, sans-serif;

/*
.wf-notosansjapanese { font-family: "Noto Sans Japanese"; }
*/

html {
    font-size: 100%;
    font-family: $font-stack;
    font-weight: 300;
}

//  Mixins

@mixin headlines {
    font-family: $font-stack;
    letter-spacing: .0em;
    line-height: 1.5em;
}

@mixin texts {
    font-family: $font-stack;
    letter-spacing: .03em;
    line-height: 1.8em;
}

//  Fonts

.headline {
    @include headlines;
    font-size: 1.8rem; 
}

.headline-smaller {
    @include headlines;
    font-size: 1.25rem;
}

.text {
    @include texts;
    font-size: 1.125rem;
}

.text-small {
    @include texts;
    font-size: .875rem;
}

h1, h2, h3, h4, h5, h6 {
    @include headlines;
    margin-bottom: .5rem;
}

ol, ul {
    margin-left: 1rem;
}

ol, ul, p {
    @include texts;
    margin-bottom: .5rem;
}


//  Styling

.list-unstyled {
    list-style-type: none;
    margin-left: 0;
}

//  Alignment and spacing

p:not(:last-child) {
    margin-bottom: .875rem; 
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}