// Default text & background colors
$color-default-fg: #f8f8ff;
$color-default-bg: #18181B; 

// Contrast colors are meant for adding a little bit of visible contrast against the defaults. Should still be accessible tho
$color-contrast-fg: #ffe0ff; 
$color-contrast-bg: #202024; 

// Accent colors are for significant contrast against defaults.
$color-accent-fg: #ffb8c0; 
$color-accent-bg: #906000;

$type-family-sans: 'Trebuchet MS', sans-serif;
$type-family-serif: 'Times New Roman', serif;
$type-family-mono: monospace;
$type-family-lmao: cursive; // For s&g's

$type-lh-base: 1.5em;
$type-lh-tight: 1.2em;

$type-size-base: 24px; // In smallest viewports this becomes 18px (75%)
$type-size-small: 18px; 

body {
    background-color: $color-default-bg;
    color: $color-default-fg;
    font-family: $type-family-sans;
    font-size: $type-size-base;

    h1 {
        color: $color-accent-fg;
        font-family: $type-family-serif; 
        font-size: 2.5em;
        font-style: italic;
        font-weight: 400;
        line-height: $type-lh-tight;
    }

    h2, h3, h4, h5, h6 {
        color: $color-contrast-fg;
        font-family: $type-family-serif; 
        font-style: italic;
        line-height: $type-lh-tight;
    }

    p, ol, ul, dl {
        color: $color-default-fg;
        line-height: $type-lh-base;
    }

    a {
        color: inherit;
    }

    code {
        background-color: $color-contrast-bg;
        color: $color-contrast-fg;
    }

    figcaption {
        font-size: $type-size-small;
    }

    mark {
        background-color: $color-accent-bg;
        color: $color-default-fg;
    }

    > nav {
        font-size: $type-size-small;
        line-height: $type-lh-tight;
    }

    > footer {
        background-color: $color-contrast-bg;
        
        p {
            font-family: $type-family-serif;
            font-size: $type-size-small;
            font-style: italic;
        }
    }
}

article > footer {
    background-color: $color-contrast-bg;
    padding: 1em; 
    border-radius: .5em; 

    dl {
        margin: 0; 
        display: flex;

        > div {
            flex: 1 0 auto;
        }

        dt {
            font-size: $type-size-small;
            color: $color-accent-fg;
        }

        dd {
            font-size: $type-size-small;
            margin-left: 0;
        }
    }
}

@media all and (max-width: 800px) {
    body {
        font-size: $type-size-base * .75;
    }
}

//  GRID
//  
//

.grid-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "grid-header-panda grid-header-nav"
        "grid-main grid-main"
        "grid-footer grid-footer"
}

.grid-header-panda { 
    grid-area: grid-header-panda; 
    padding: 1em 1em 0;
}

.grid-header-nav { 
    grid-area: grid-header-nav; 
    text-align: right; 
    padding: 1em 1em 0; 
}

.grid-main { 
    grid-area: grid-main; 
    padding: 1em 1em 2em;
}

.grid-footer { 
    grid-area: grid-footer; 
}

.grid-footer-content {
    padding: 1em;
}

@media all and (min-width: 800px) {
    .grid-wrapper {
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-areas:
            ". grid-header-panda grid-header-nav ."
            ". grid-main grid-main ."
            "grid-footer grid-footer grid-footer grid-footer"
    }

    .grid-footer-content {
        margin-left: auto;
        margin-right: auto;
        width: 66.67%; // Combined width of the two middle columns
    }
}

@media all and (min-width: 1200px) {
    .grid-wrapper {
        grid-template-columns: auto 200px 400px 400px 200px auto;
        grid-template-areas:
            ". grid-header-panda grid-main grid-main grid-header-nav ."
            ". . grid-main grid-main . ."
            "grid-footer grid-footer grid-footer grid-footer grid-footer grid-footer"
    }

    .grid-main {
        padding: 1.5em 1em; 
    }

    .grid-footer-content {
        width: 800px; // Combined width of the two middle columns
    }
}

h1 {
    margin-top: 0;
}

//  PANDA <3
//
//

.grid-header-panda img { 
    -webkit-filter: drop-shadow(0px 0px .5em $color-accent-bg);
    filter: drop-shadow(0px 0px .5em $color-accent-bg);
    margin-left: -1em;
    width: 4em; 
}
