@import "variables";

// Theme styles
//
//

.header-panda img { width: 72px; }

.list-inline {
    padding: 0;
    
    li { display: inline; }
    li+li:before { content: " • ";}
}

body > footer { 
  background-color: $bg-light-gray; 
  padding: 30px 0px; 
}

// Theme styles - Specific to <main> content
//
//

main {
    blockquote {
        border-left: 3px solid $bg-gray;
        margin-left: 1em;
        padding-left: 1em;
        p {
          color: $fg-light-gray;
          font-style: italic;
          padding-top: .15em;
          padding-bottom: .15em;
        }
    }

    img { 
        box-shadow: 0px 0px 1em $bg-gray;
        max-width: 100%; 
    }

    p, ol, ul:not(.slideshow) {
        max-width: 600px;
    }

    .badge {
        background-color: $bg-light-gray; 
        border: 1px solid $bg-gray;
        border-radius: 3px;
        font-size: $text-size-00;
        padding: 0 4px;
        white-space: nowrap;
    }

    .borderless {
        border: 0;
        box-shadow: none;
    }

}

// Theme typography styles
// Use sparingly, especially in posts
//

.text-body-small { font-size: $text-size-00; }
.text-body-base { font-size: $text-size-01; }
.text-body-larger { font-size: $text-size-02; }
.text-body-largest { font-size: $text-size-03; }
.text-full-width { max-width: 100%; }

// CSS grid layout magic
//
//

.header-panda,
.header-nav,
.main-content {
    padding: 18px;
}

.footer-content {
  padding: 0 18px; 
}

.header-panda { grid-area: header-panda; }
.header-nav { grid-area: header-nav; text-align: right; }
.main-content { grid-area: main-content; }
.footer { grid-area: footer; }

.content-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header-panda header-nav"
    "main-content main-content"
    "footer footer"
}

@media all and (min-width: 800px) {
  .content-wrapper {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:
      "header-panda header-panda header-nav header-nav"
      ". main-content main-content ."
      "footer footer footer footer"
    }
  
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    width: 66.67%; // Combined width of the two middle columns
  }
}

@media all and (min-width: 1200px) {
  .content-wrapper {
    grid-template-columns: auto 200px 400px 400px 200px auto;
    grid-template-areas:
      ". header-panda main-content main-content header-nav ."
      ". . main-content main-content . ."
      "footer footer footer footer footer footer"
  }

  main header {
    margin-bottom: 60px;
  }

  header nav ul li {
    margin-top: 18px;
  }

  .footer-content {
    width: 800px; // Combined width of the two middle columns
  }
}

// Fancy golden hover style
// https://codepen.io/psyoko/pen/ExZBMeP
//

.fancy {
    margin: -.375em;
    padding: .375em;

    &:hover {
    background: linear-gradient(135deg, #C3AA79, #fec, #C3AA79, #fec,);
    background-size: 300% 300%;
    color: #222;

    -webkit-animation: GradientCycle 1s infinite linear;
    -moz-animation: GradientCycle 1s infinite linear;
    animation: GradientCycle 1s infinite linear;
        
    }
}

@-webkit-keyframes GradientCycle {
    0%{background-position:0 0}
    100%{background-position:100% 100%}
}

@-moz-keyframes GradientCycle {
    0%{background-position:0 0}
    100%{background-position:100% 100%}
}

@keyframes GradientCycle {
    0%{background-position:0 0}
    100%{background-position:100% 100%}
}

// Post slideshow v1
// https://codepen.io/psyoko/pen/RwWOQab
//

.slideshow {
    border: 1px solid $bg-gray;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    
    /*  These are for formatting the ul */
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    scroll-snap-align: start;
}


// 404 cat-top styles
// Make it float, align it so
//

#cat-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-top {
  animation-name: cat-top;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#cat-top-shadow {
  animation-name: cat-top-shadow;
  animation-duration: 4s; 
  animation-iteration-count: infinite;
  background-color: #222;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px / 50px;
}

@keyframes cat-top {
  0% { 
    transform: translate(0, 0);
  }
  35% { 
    transform: translate(0, -12px);
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }
  100% { 
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }
}

@keyframes cat-top-shadow {
  0% {
    filter: blur(10px);
    opacity: .25;
  }
  35% {
    filter: blur(15px);
    opacity: .15;
    transform: scale(1.3);
  }
  100% {
    filter: blur(10px);
    opacity: .25;
  }
}

// Marqueeeee
// 
//

.marqueeeee {
    align-items: center;
    background-color: $bg-gold;
    display: flex;
    height: 2.5rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.marqueeeee-inner {
    display: block;
    font-family: $lmao-font;
    height: 2rem;
    margin: .25rem 0;
    overflow: hidden;
    position: absolute;
    width: 200%;

    animation: marqueeeee 15s linear infinite;
}

.marqueeeee span {
    float: left;
    width: 50%;
}

@keyframes marqueeeee {
    0% { left: 0; }
    100% { left: -100%; }
}

/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
    animation: none;
}