// Variables
// Variables
// Vaaariables

$base-font: 'Noto Sans', 'Noto Sans JP', sans-serif;
$mono-font: 'Inconsolata', monospace;

$text-size-00: 13px;
$text-size-01: 16px;
$text-size-02: 20px;
$text-size-03: 24px;

$line-height-tight: 1.2em;
$line-height-regular: 1.6em;

$fg-dark-gray: #181818;
$fg-light-gray: #585858;

$bg-light-gray: #f8f8f8;
$bg-gray: #e0e0e0;