@import "theme";

// Thank you https://codepen.io/thebabydino/pen/JjYwzmL

ul.wawd-thumbnail-list {
    list-style-type: none;
    padding-left: 0;

    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(Min(8em, 100%), 1fr));
    grid-auto-flow: row;

    > li {
        font-size: $type-size-small;
        line-height: $type-lh-tight; 

        img {
            height: 8em; 
            object-fit: cover;
            width: 100%;
        }
    }
}