{% include header.html %}

    <body class="grid-wrapper">
        <div class="grid-header-panda">
            <!-- Random panda -->
            <a href="/"><img id="header-panda" alt="Randomly generated drawing of a panda"/></a>

            <script type="text/javascript">
            insertPanda(); 
            </script>
        </div>
        <div class="grid-header-nav"></div>

        <main class="grid-main">
            {{ content }}
        </main>

        <footer class="grid-footer">
            <div class="grid-footer-content">
                <p>
                    Yoko Sakao Ohama (she/her + they/them) | {{ "now" | date: "%Y" }}
                </p>
            </div>
        </footer>
    </body>
</html>