---
layout: default
---

<article>
    <header>
        <h1><a href="/">yoko.cool</a> / {{ page.title }}</h1>
    </header>

    <section>
        {{ content }}
    </section>

    <footer>
        <dl>
            <div>
                <dt>Published</dt>
                <dd>
                    {{ page.date | date: "%b %d %Y" }}
                    {% if page.last_updated %}
                        <br>
                        <small>Last updated {{ page.last_updated | date: "%b %d %Y" }}</small>
                    {% endif %}
                </dd>
            </div>

            <div>
                <dt>Categories</dt>
                {% for category in page.categories %}
                    <dd>{{ category }}</dd>
                {% endfor %}

                <dt>Tags</dt>
                {% for tag in page.tags %}
                    <dd>{{ tag }}</dd>
                {% endfor %}
            </div>
        </dl>        
    </footer>
</article>